@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "normalize.css";
@import "player";

.clearfix {
  clear: both;
}

.video-js > button.vjs-big-play-button{
  top: calc(50% - 0.75em);
  left: calc(50% - 1.5em);
}

div.logout{
  width:100%;
  border-top:1px solid #ffffff;
  height:60px;
  position: absolute;
  bottom:0;

  a{
    color:#fff;
    display: block;
    height:100%;
    width:100%;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
  }
}