@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(normalize.css);
aside.sidebar, div.content-epg .epg-list {
  overflow-x: hidden;
  overflow-y: auto; }

div.channel-detail-row, div.content-epg .epg-channel-header h2, div.content-epg .epg-list .epg-program {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

html, body {
  position: relative;
  height: 100%; }

aside.sidebar {
  background-color: #2196F3;
  position: relative;
  z-index: 40;
  float: left;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 360px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2); }
  aside.sidebar .channel {
    cursor: pointer;
    height: 60px;
    width: 360px; }
    aside.sidebar .channel:hover {
      background-color: #1976D2; }
    aside.sidebar .channel img.channel-thumb {
      float: left;
      width: 30px;
      height: 30px;
      margin: 15px; }
    aside.sidebar .channel div.channel-detail {
      float: left;
      width: 300px;
      height: 40px;
      padding: 10px 0; }
    aside.sidebar .channel div.channel-detail-row {
      width: 275px; }

div.channel-detail-row {
  float: left;
  width: 100%;
  color: #BBDEFB;
  font-size: 14px;
  height: 50%;
  overflow: hidden; }
  div.channel-detail-row .channel-detail-end {
    width: 42px;
    float: right; }
  div.channel-detail-row .channel-detail-start {
    width: 42px;
    float: left; }
  div.channel-detail-row .channel-detail-name {
    max-width: calc(100% - 84px);
    float: left;
    overflow: hidden; }
  div.channel-detail-row progress {
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none; }
    div.channel-detail-row progress[value]::-webkit-progress-value {
      background-color: #009688; }
    div.channel-detail-row progress[value]::-webkit-progress-bar {
      background-color: #1976D2; }
    div.channel-detail-row progress[value]::-moz-progress-bar, div.channel-detail-row progress[value]::-webkit-progress-bar {
      background-color: #009688; }
  div.channel-detail-row.channel-detail-row-thin {
    height: 10px; }

main.content {
  position: relative;
  z-index: 20;
  float: left;
  width: calc(100% - 360px);
  height: 100%;
  background-color: #FAFAFA; }

div.content-player {
  height: 50%;
  overflow: hidden; }
  div.content-player .stievie-player {
    height: 100%;
    width: auto; }

div.content-epg {
  height: 50%;
  position: relative;
  margin: 0 auto;
  overflow: hidden; }
  div.content-epg .epg-channel {
    height: 100%;
    position: relative; }
  div.content-epg .epg-channel-header {
    position: relative;
    padding: 0 15px;
    background-color: #009688;
    color: #BBDEFB;
    height: 64px; }
    div.content-epg .epg-channel-header progress[value]::-webkit-progress-value {
      background-color: #BBDEFB; }
    div.content-epg .epg-channel-header progress[value]::-webkit-progress-bar {
      background-color: #009688; }
    div.content-epg .epg-channel-header h2 {
      margin: 0; }
  div.content-epg .epg-channel-thumb {
    position: relative;
    overflow: hidden;
    height: calc(50vh - 64px);
    width: calc((50vh - 64px) * 16 / 9);
    float: left; }
    div.content-epg .epg-channel-thumb img {
      height: 100%;
      width: 100%;
      position: absolute; }
    div.content-epg .epg-channel-thumb .epg-channel-thumb-img {
      z-index: 50; }
    div.content-epg .epg-channel-thumb .epg-channel-thumb-transistion {
      z-index: 40; }
  div.content-epg .epg-list {
    width: calc(100% - ((50vh - 64px) * 16 / 9));
    height: calc(100% - 64px);
    float: left; }
    div.content-epg .epg-list .epg-program {
      cursor: pointer;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      background-color: #FAFAFA; }
      div.content-epg .epg-list .epg-program:nth-child(2n) {
        background-color: #BBDEFB; }
      div.content-epg .epg-list .epg-program .epg-program-endtime {
        float: right; }

.clearfix {
  clear: both; }

.video-js > button.vjs-big-play-button {
  top: calc(50% - 0.75em);
  left: calc(50% - 1.5em); }

div.sidebarblock {
  width: 100%;
  height: 60px;
  overflow: hidden; }
  div.sidebarblock a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 60px; }
    div.sidebarblock a:hover {
      background-color: #1976D2; }
  div.sidebarblock a.half {
    display: inline-block;
    width: 50%;
    float: left; }
  div.sidebarblock.highlight {
    background-color: #009688; }

p.footer {
  width: 360px;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 20px;
  overflow: hidden;
  position: fixed;
  background-color: #2196F3;
  bottom: 0; }
  p.footer a, p.footer a:link {
    color: #fff;
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 20px; }

/*# sourceMappingURL=main.css.map */
